@import "../../shared/one/entry.less";
@import "../../shared/two/entry.less";
@keyframes dupeChainFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.dupe-chain-anim {
    animation: dupeChainFade 1s linear;
}
