@import "../../shared/one/entry.less";
@import "../../shared/two/entry.less";
@media screen {
    .dupe-screen {
        margin: 1px;
    }
}
@media (max-width: 900px) {
    .dupe-screen-width {
        margin: 2px;
    }
}
.main-anchor {
    border-width: 1px;
}
