@media screen and (min-width: 600px)  {
body {
  background-color: red;
}

.beforeCannotOpenKoiModal {
  width: 110px;
  height: 667px;
  position: relative;
  border-radius: 48px;
  background: url(https://mdn.alipayobjects.com/huamei_eta2o6/afts/img/A*ekn2RqgkxvIAAAAAAAAAAAAADvnIAQ/original)
        center center/100% 100% no-repeat,
      radial-gradient(
        circle at 91% -9%,
        rgba(255, 95, 11, 0.5) 0%,
        rgba(255, 228, 111, 0.3) 25%,
        rgba(255, 251, 253, 0.01) 61%,
        rgba(255, 255, 255, 0) 95%
      ),
      radial-gradient(
        circle at 13% -12%,
        #ff5454 0%,
        #ffd0d0 33%,
        #fff 62%,
        #fff 115%
      );
  box-shadow: 0 0 30px 0 rgba(255, 215, 113, 0.5);
}

.beforeCannotOpenKoiModal::after {
  box-shadow: 0 0 30px 0 rgba(255, 215, 113, 0.5);
}

.beforeCannotOpenKoiModal .a + .b {
  word-wrap: break-word;
}

.beforeCannotOpenKoiModal .a + .b::before {
  content: "";
}

.beforeCannotOpenKoiModal .logo {
  position: absolute;
  top: 0;
  left: 50%;
  height: 430px;
  transform: translateX(-50%) translateY(-183px);
}

.beforeCannotOpenKoiModal .text {
  margin-top: 247px;
  text-align: center;
  color: #6b1d00;
  font-size: 38px;
  font-weight: bold;
  line-height: 53px;
}

.beforeCannotOpenKoiModal .describe {
  font-size: 28px;
  line-height: 40px;
  color: #c07d64;
  text-align: center;
  margin-top: 12px;
}

.beforeCannotOpenKoiModal .button {
  width: 164px;
  height: 52px;
  margin-top: 32px;
  margin-left: 218px;
  text-align: center;
  color: #fff;
  background: url(https://mdn.alipayobjects.com/huamei_eta2o6/afts/img/A*RGPwTpeOV5oAAAAAAAAAAAAADvnIAQ/original)
        center center/100% 100% no-repeat;
  font-size: 26px;
  font-weight: bold;
  line-height: 52px;
}

.beforeCannotOpenKoiModal .mt23 {
  margin-top: 23px;
}

.title {
  width: 750px;
  height: 140px;
  margin-bottom: 169px;
  background: url(https://mdn.alipayobjects.com/huamei_eta2o6/afts/img/A*Kj0ZT5wR9NcAAAAAAAAAAAAADvnIAQ/original)
      center center/100% 100% no-repeat;
}

}
