 .test {
  @face-width: 11;

  background: #fff;

  
}
.test .test2 {
    font-size: 11px;
  }
 .test3 {
  @face-width1: 11;

  background: #fff;

  

  
}
.test3 .test4 {
    font-size: 11px;
  }
.test3 .test5 {
    font-size: 11px;
    
  }
.test3 .test5 .test5 {
      font-size: 11px;
    }

